Body {
    font-family: Arial, Helvetica, sans-serif;
    background: ivory;
    color: lightslategray;
    font-size: normal;
    font-weight: 400;
}

table {
    display: table;
    line-height: normal;
    font-weight: 500;
}

thead {
    font-weight: 700;
}

h1 {
    color: steelblue;
    font-size: larger;
    font-weight: 900;
}

h2 {
    color: slategray;
    font-size: large;
    font-weight: 700;
}

h3 {
    color: slategray;
    font-size: medium;
    font-weight: 600;
}

p {
    font-size: normal;
}